<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeHandlers>
        <typeHandler handler="com.kikakeyboard.waveform.mybatis.JsonTypeHandler" javaType="com.kikakeyboard.waveform.domain.Property"/>
        <typeHandler handler="com.kikakeyboard.waveform.mybatis.LocalDateTimeTypeHandler"/>
        <typeHandler handler="com.kikakeyboard.waveform.mybatis.LocalDateTypeHandler"/>
    </typeHandlers>

</configuration>